/* Define color variables. */
$offwhite: #e0e0e0
$darkblue: #232C31
$red: #ff0000

$fontcolor: $offwhite
$bodycolor: $darkblue
$linkcolor: $red

body
    background-color: $bodycolor
    font-family: Helvetica, arial, sans-serif
    color: $fontcolor

#container
    margin-left: auto
    margin-right: auto
    width: 80%
    max-width: 800px
    margin: 0 auto

input
    color: $bodycolor

#navbar
    display: flex
    flex-direction: row

#title
    float: left
    flex-grow: 1

#links
    text-align: right
    max-width: 30em
    vertical-align: bottom
    float: right

#links li
    display: inline-block

#links a
    text-decoration: underline

a
    color: $linkcolor

table
    border: 1px solid white

tr
    border: 1px solid white

td
    border: 1px solid white

form
    display: table

/* Layout form inputs as a table */
div.input-group
    display: table-row

    label
        display: table-cell
        text-align: right
        padding: 0 10px 0 0

    input
        display: table-cell

