{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "website/css/normalize.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "website/css/style.css" %}"/>
    {% block links%}{% endblock %}
    <title>{% block title %}Cody Piersall's Terrible Website{% endblock %}</title>
  </head>
  <body>
    <div id=container>
      {% block navbar %}{% endblock %}
      <div id=content>
        {% block content%}{% endblock %}
      </div>
    </div>
  </body>
</html>
