{% extends "_base.html" %}
{% block navbar %}
  <div id="navbar">
    <div id="title"><h1>Cody Piersall's Terrible Website</h1></div>
    <div id="links">
      <nav>
        <ul>
          <li><a href="{% url 'main.views.index' %}">home</a></li>
          <li><a href="{% url 'main.views.about' %}">about</a></li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

