{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block links %}
<script src="{% static "website/js/tmatrix.js" %}"></script>
{% endblock %}

{% block content %}

  <h1>T-Matrix Calculation</h1>
  <p>The <a href="http://www.giss.nasa.gov/staff/mmishchenko/t_matrix.html">T-Matrix</a>
  method of computing electromagnetic scattering
  </p>
  <form id="tmatrix-form" action="/tmatrix/" method="get">
    {% for field in form %}
      <div class="input-group">
        {{ field.errors }}
        {{ field.label_tag }}

        {% if field.field.required %}
          {{ field|attr:"required:true" }}
        {% else %}
          {{ field }}
        {% endif %}
        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" value="Calculate" />
    <br />
  </form>

  {% comment %}
  Display the S and Z matrices.
  {% endcomment %}
  {% if S|length %}
    <table>
      <thead>
        <tr><th colspan=2>S matrix</th></tr>
      </thead>
      <tbody>
        {% for row in S %}
          <tr>
            {% for col in row %}

            <td>{{ col.real|stringformat:".4g" }} + {{col.imag|stringformat:".4g"}}j</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />

    {% comment %}
    Display the Z matrix.
    {% endcomment %}
    <table>
      <thead>
        <tr><th colspan=4>Z matrix</th></tr>
      </thead>
      <tbody>
        {% for row in Z %}
          <tr>
            {% for col in row %}

            <td>{{ col.real|stringformat:".4g" }} + {{col.imag|stringformat:".4g"}}j</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}


{% endblock content %}

